# MagicBlock API
NEXT_PUBLIC_MAGICBLOCK_API_KEY=your_api_key_here
NEXT_PUBLIC_MAGICBLOCK_DEVNET=https://devnet.magicblock.app

# Solana
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Anchor program (after you deploy)
NEXT_PUBLIC_AUCTION_PROGRAM_ID=your_program_id_here
